<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Board</title>
</head>
<body>
  <h1>게시글</h1>
    <form action="/board/view" method="get">
    <label for="id">게시글 ID 입력: </label>
    <input type="number" id="id" name="id">
    <button type="submit">Search</button>
  </form>
    <ul>
        <li>ID: <span th:text="${board.id}"></span></li>
        <li>Title: <span th:text="${board.title}"></span></li>
        <li>Content: <span th:text="${board.content}"></span></li>
        <li>Author: <span th:text="${board.author}"></span></li>
        <li>Station Code: <span th:text="${board.stationcode}"></span></li>
        <li>Likes Count: <span th:text="${board.likesCount}"></span></li>
    </ul>
</body>
</html>